{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  {% include 'chats/head.html' %}

  <!-- login page start //-->
  <body class="sidebar-active dark">
    <div class="login-page2 animat-rate">
      <div class="login-content-main"> 
        <div class="login-content2">
          <div class="theme-tab">       
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item"><a class="nav-link" id="login-tab" data-toggle="tab" href="{% url 'userauths:sign-in' %}" role="tab" aria-selected="false">login</a></li>
                <li class="nav-item"><a class="nav-link active" id="signup-tab" data-toggle="tab" href="{% url 'userauths:sign-up' %}" role="tab" aria-selected="true">Signup</a></li>
              
            </ul>
          </div>
        </div>
        <div class="login-content">
          <div class="login-content-header"><img class="img-fluid" src="{% static 'assets/images/logo/STAT.png' %}" alt="images"></div>
          <h3>Hello there,</h3>
          <h4>Welcome to STAT-Chat! Please login to your account.</h4>
          {% if form.errors %}
            <div class="alert alert-danger"> 
              <strong>{{ form.errors }}</strong>
            </div>
            {% endif %}
          <form class="form2" method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="">Email</label>
                {{form.username}}
            </div>
            
            
            <div class="form-group">
                  <label for="">Password</label>
                {{form.password}}
              </div>
            
            <div class="form-group">
              <div class="rememberchk">
                <div class="form-check">
                  <input class="form-check-input" id="gridCheck1" type="checkbox">
                  <label class="form-check-label" for="gridCheck1">Remember Me.</label>
                  <h6>Forgot Password?</h6>
                </div>
              </div>
            </div>
            <ul class="medialogo">
              <li><a class="icon-btn btn-facebook button-effect rouded15" href="#"><i class="fa fa-facebook-f"></i></a></li>
              <li><a class="icon-btn btn-danger button-effect rouded15" href="#"><i class="fa fa-google"></i></a></li>
              <li><a class="icon-btn btn-primary button-effect rouded15" href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
            <div class="form-group mb-0">
              <div class="buttons"><button type="submit" class="btn button-effect btn-primary" >Login</button></div>
            </div>
          </form>
        </div>
      </div>
      <div class="animation-block">
        <div class="bg_circle">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="cross"></div>
        <div class="cross1"></div>
        <div class="cross2"></div>
        <div class="dot"></div>
        <div class="dot1"></div>
        <div class="top-circle"></div>
        <div class="center-circle"></div>
        <div class="bottom-circle1"></div>
        <div class="right-circle"></div>
        <div class="right-circle1"></div>
      </div>
    </div>
  </body>
</html>