{% load static %}
<head>
    <title>STAT Realtime Chat App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="D-Chat">
    <meta name="keywords" content="D-Chat">
    <meta name="author" content="D-Chat">
    <link rel="icon" href="assets/images/favicon/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="assets/images/favicon/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/date-picker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" media="screen" id="color">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/tour.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/ckeditor/skins/moono-lisa/editor.css?t=HBDD' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/ckeditor/plugins/scayt/skins/moono-lisa/scayt.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/ckeditor/plugins/scayt/dialogs/dialog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/ckeditor/plugins/tableselection/styles/tableselection.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/ckeditor/plugins/wsc/skins/moono-lisa/wsc.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/ckeditor/plugins/copyformatting/styles/copyformatting.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/date-picker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" media="screen" id="color">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/tour.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/ckeditor/skins/moono-lisa/editor.css?t=HBDD' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/ckeditor/plugins/scayt/skins/moono-lisa/scayt.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/ckeditor/plugins/scayt/dialogs/dialog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/ckeditor/plugins/tableselection/styles/tableselection.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/ckeditor/plugins/wsc/skins/moono-lisa/wsc.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/ckeditor/plugins/copyformatting/styles/copyformatting.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>